<?xml version="1.0" encoding="UTF-8"?>
<widget>
<preference name="permission" value="SYSTEM?"/>
	<previewjs></previewjs>
	<preicon></preicon>
  <ThumbIcon>icons/OTV_106.png</ThumbIcon>
  <BigThumbIcon>icons/OTV_115.png</BigThumbIcon>
  <ListIcon>icons/OTV_85.png</ListIcon>
  <BigListIcon>icons/OTV_95.png</BigListIcon>
  <Icon1080>icons/OTV_128.png</Icon1080>
	<cpname>wluczykijwf</cpname>
	<cplogo></cplogo>
	<cpauthjs></cpauthjs>
	<ver>1.1.13.0</ver>
	<mgrver></mgrver>
	<preload>y</preload>
	<snsportal>y</snsportal>
	<IspBound>n</IspBound>
	<fullwidget>n</fullwidget>
	<srcctl>n</srcctl>
	<network>y</network>
	<ticker>y</ticker>
	<movie>y</movie>
	<childlock>n</childlock>
	<audiomute>n</audiomute>
	<videomute>n</videomute>
	<multiapp>y</multiapp>
  <pip>y</pip>
	<dcont>y</dcont>
	<type>user</type>
	<widgetname>OnlineTV</widgetname>
	<description>Watch more channels directly from the TV level</description>
	<runTitle>TVComm</runTitle>
	<width>960</width>
	<height>540</height>
	<author>
		<name>wluczykijwf</name>
		<email></email>
		<link>http://forum.samygo.tv/</link>
		<organization>SamyGO (Official SamyGO Developer)</organization>
	</author>
	</widget>
